.container_home_text {
  position: relative;
  text-align: center;
  color: white;
}

.FrontPageImg {
  width: 100%;
  height: auto;
  min-height: 850px;
  object-fit: cover;
}

.centered_home_text {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered_home_button {
  position: absolute;
  top: 57vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  width: 200px;
}

.font_x {
  font-family: "EB Garamond", serif;
  font-size: 80px;
}

.card-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

@media (max-width: 960px) {
  .container_home_text {
    position: relative;
    text-align: center;
    color: white;
  }
  .font_x {
    font-size: 50px;
  }

  .centered_home_text {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered_home_button {
    position: absolute;
    top: 77vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 576px) {
  .container_home_text {
    position: relative;
    text-align: center;
    color: white;
  }
  .font_x {
    font-size: 50px;
  }

  .centered_home_text {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }

  .centered_home_button {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
