.hover_effect_h1 h1:hover {
  border: 5px dotted #a7a7a7;
  color: #3a7999;
  background: rgba(192, 187, 187, 0);
}

.hover_front:hover {
  border: 5px dotted #a7a7a7;

  background: rgba(192, 187, 187, 0);
}
