.product_page {
  padding: 50px;
}

.nav-tabs .nav-item .nav-link {
  background-color: $primary;
  color: #fff;
}

.nav-tabs .nav-item .nav-link.active {
  color: #ffffff;

  background-color: $danger;
  border: none;
}
.nav-link:hover {
  border: none;
}

.product_tab {
  border-radius: 0px 0px 10px 10px;
}

.product_img_container {
  position: relative;
  width: auto;
  height: 700px;
  margin-right: 20px;
}

.product_img_container_two {
  position: relative;
  height: 200px;
  width: auto;
}

.minus_margin_top {
  margin-top: -1px;
}

@media (max-width: 960px) {
  .product_img_container {
    margin: 20px;
  }
  .not_phone {
    display: none;
  }
}

@media (max-width: 576px) {
  .product_img_container {
    height: 500px;
    margin-right: 20px;
  }
  .font_size_produkt_spes {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .nav-tabs .nav-item .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .nav-tabs .nav-item .nav-link {
    font-size: 12px;
  }
}

//////tbody tr

.text-container table tbody tr {
  padding: 10px;
}

#please table tbody tr {
  padding: 20px;
}
