.SpeakerBrandImg {
  width: 200px;
  height: 300px;

  object-fit: cover;
  opacity: 0.7;
  background-color: black;
}
.nothing {
  height: 50px;
  width: 100vh;
}
.brands_image_container {
  position: "relative";

  height: 200px;
  margin-bottom: 5%;
  width: 500px;
}

.SpeakerBrandImg,
.centered_text:hover {
  opacity: 0.85;
  cursor: pointer;
}

.franco_logo {
  max-width: 80%;
  height: auto;
}

@media (max-width: 960px) {
  .SpeakerBrandImg {
    height: 350px;
  }
  .SpeakerBrand_container {
    padding-top: 200px;
  }
  .brands_image_container {
    padding-bottom: 15%;
  }
}

@media (max-width: 576px) {
  .SpeakerBrandImg {
    height: 150px;
  }
  .SpeakerBrand_container {
    padding-top: 150px;
  }
}
.SpeakerBrand_container {
  padding-top: 120px;
}

.centered_text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_container {
  position: relative;
  text-align: center;
  color: white;
}
